/* education section */

.edu{
    padding: 20px;
    width: 100%;
}
.edu h2{
    font-size: 40px;
    color: #141c2c;
    margin: 10px 0;
    max-width: 400px;
}
.edu-right{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.edu-box{
    flex: 1;
    padding: 20px;
    background-color: #95aec9;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 300px; 
    margin-top: 20px;
}
.year{
    margin-top: 10px;
    color: white;
}
.edu-box p{
    color: white;
}